<div th:fragment="confPagamento" class="modal" tabindex="-1" id="ModalConfirma">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Concluido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Pagamento Efetuado com exito.</p>
                <p>Clique no botão abaixo para fechar</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="/">
                    <span data-bs-dismiss="modal">Fechar</span>
                </a>
            </div>
        </div>
    </div>
</div>
