<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="javaScript" id="footer">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>

    <script src="/js/docpreview.js"></script>
    <script src="/js/hideShow.js"></script>
    <script src="/js/finalidade.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/esconderDiv.js"></script>
    <script src="/js/loadSearch.js"></script>
</div>
</body>
</html>