<!DOCTYPE html>
<html xmlns:th="">
<head>
    <meta charset="utf-8">
</head>
<body>
<header th:fragment="cabecalho">
    <nav class="nav navbar nav-app">
        <embed
                type="text/html"
                src="https://cenopservicossp.intranet.bb.com.br/Downloads/header-html/index.html?centro=Cenop Neg Estr E Gov&titulo=Integra DJO&subtitulo="
                width="100%"
                height="72px"
                style="position: fixed; z-index:2000;"
        />
    </nav>
</header>
</body>
</html>