<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="nav-sidebar">
    <div style="padding-top: 40px;">
        <div class="side-menu">
            <ul>
                <li><a href=""><img class="side-img" src="/images/pagamento.png">Pagamento Avulso</a></li>
                <li><a href=""><img class="side-img" src="/images/massificado.png">Pag. Massificados</a></li>
                <li><a href=""><img class="side-img" src="/images/recibo.png">Resgates/Comprovantes</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>