<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/head :: head('Integra')}"></head>

<body>

<header th:replace="~{fragments/header :: cabecalho}">
    <div>header</div>
</header>
<div>
    <aside>
        <nav th:replace="~{fragments/sidebar :: nav-sidebar}">
            <span>menu</span>
        </nav>
    </aside>
    <section layout:fragment="conteudo">

        <div>Conteudo das paginas</div>
    </section>
</div>


<footer th:replace="~{fragments/footer :: rodape}">
    <div>footer</div>
</footer>
<div th:replace="~{fragments/arquivosJS :: javaScript}"></div>

</body>
</html>