<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <head th:replace="~{fragments/head :: head('Integra')}"></head>

</head>
<body>
<header th:replace="~{fragments/header :: cabecalho}">
</header>
<div style="padding-top: 50px;" th:fragment="busca" th:styleappend="${(hide == 0) ? 'display: none;' : ''}">
    <aside>
        <nav th:replace="~{fragments/sidebar :: nav-sidebar}">
            <span>menu</span>
        </nav>
    </aside>

    <div class="row justify-content-around py-3 px-4" id="upperDash">
        <div class="row flex-row flex-wrap py-3 ">
            <div class="col-7" th:replace="~{/fragments/dash/dadosGsv.html :: detalhe-gsv}"></div>
            <!-- Bloco Busca-->
            <div th:replace="~{/fragments/dash/busca.html :: busca}"></div>
            <!--Fim do Bloco Busca-->

            <div th:replace="~{/fragments/dash/dadosGsv.html :: dados-gsv}"></div>

        </div>
    </div>

</div>


<div th:replace="~{fragments/arquivosJS :: javaScript}"></div>
</body>
</html>